<div>
    <div class="container-fluid">
        <p class="month-info">{{monthInfo}}</p>
        <shift-cal></shift-cal>
    </div>
    <div class="container-fluid">
        <div class="weekday-header">
            <div class="weekday" *ngFor="let weekday of weekdays">
                <p>{{weekday}}</p>
            </div>
        </div>

        <div class="calendar-days">
                <div class="datebox" *ngFor="let date of calendar">
                    <div [ngClass]="date.calendarDateClass">{{date.date}}</div>
                </div>
        </div>
    </div>

</div>
