<div>
    <div class="container-fluid">
        <p class="month-info">{{monthInfo}}</p>
        <shift-cal></shift-cal>
    </div>
    <div class="container-fluid">

        <div class="weekday-header">
            @for (weekday of weekdays; track $index) {
                <div class="weekday">
                    <p>{{weekday}}</p>
                </div>
            }
            
        </div>

        <div class="calendar-days">
            @for (date of calendar; track $index) {
                <div class="datebox">
                    <div [ngClass]="date.calendarDateClass">{{date.date}}</div>
                </div>
            }

        </div>
        
    </div>

</div>
