<select
    class="form-select"
    [(ngModel)]="calendarScale"
    (ngModelChange)="changeCalScale($event)"
>
    <option value="day">day</option>
    <option value="week">week</option>
    <option value="month" selected>month</option>
</select>


<div>
    @switch (calendarScale) {
        @case ('month') {
            <month-calendar></month-calendar>
        }
        @case ('week') {
            <week-calendar></week-calendar>
        }
        @case ('day') {
            <day-calendar></day-calendar>
        }
        @default {
            <month-calendar></month-calendar>
        }
    }

</div>

<!-- <router-outlet></router-outlet> -->
