.weekday-header {
    display: flex;
}

.weekday {
    width: 14%;
}

.calendar-days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.datebox {
    width: 14%;
    height: 75vh;
    border: solid;
    border-color: black;
    border-width: 1px;
    font-weight: bold;
    padding: 5px;
}

.month-info {
    display: flex;
    justify-content: right;
}

.adjacent-month {
    color: lightgrey;
}

.today {
    background-color: teal;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    text-align: center;
    color: white;
}

@media (max-width: 750px) {
    .datebox {
        height: auto;
        aspect-ratio: 1/1;
    }
    
}